p::first-letter{
    color:red;
    background:blue;
    padding:3px;
    font-size:36px;
}

li{
    list-style: none;
}

li::before{
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background-image: url(./teste.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
}

p::selection{
    background-color: burlywood;
}